version: '3.8'

services:
  http-server:
    build:
      context: ./http-server
    ports:
      - "8080:8080"
    environment:
      - RPC_DATABASE_HOST=rpc-database

  rpc-database:
    build:
      context: ./rpc-database
    ports:
      - "50051:50051"
    depends_on:
      - http-server

  # iot-gateway:
  #   build:
  #     context: ./iot-gateway
  #   environment:
  #     - HTTP_SERVER_HOST=http-server
  #   depends_on:
  #     - http-server

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - http-server
