version: '3.8'

services:
  http-server:
    image: mo4x_teama_http-server
    ports:
      - "8080:8080"
    environment:
      - RPC_DATABASE_HOST=rpc-database
    networks:
      - default
      - hazelcast-net
    deploy:
      replicas: 1

  rpc-database:
    image: mo4x_teama_rpc-database
    ports:
      - "50051:50051"
    depends_on:
      - http-server
    networks:
      - default
      - hazelcast-net
    deploy:
      replicas: 1

  iot-gateway:
    image: mo4x_teama_iot-gateway
    environment:
      - HTTP_SERVER_HOST=http-server
    networks:
      - mqtt_net
      - default
    depends_on:
      - http-server
      - hivemq
    deploy:
      replicas: 1

  frontend:
    image: mo4x_teama_frontend
    ports:
      - "80:80"
    depends_on:
      - http-server
    deploy:
      replicas: 1

  sensor:
    image: mo4x_teama_sensor
    depends_on:
      - hivemq
    environment:
      - MQTT_BROKER_HOST=hivemq
    networks:
      - mqtt_net
    deploy:
      replicas: 3

  hivemq:
    image: hivemq/hivemq-ce
    ports:
      - "1883:1883"
    networks:
      - mqtt_net
    volumes:
      - hivemq_conf:/opt/hivemq/conf
      - hivemq_data:/opt/hivemq/data
    deploy:
      replicas: 1

  mqtt-explorer:
    image: smeagolworms4/mqtt-explorer
    ports:
      - "4000:4000"
    volumes:
      - ./config/mqtt-explorer:/mqtt-explorer/config
    networks:
      - mqtt_net
    depends_on:
      - hivemq
    deploy:
      replicas: 1

  nodered:
    image: nodered/node-red
    ports:
      - "1880:1880"
    volumes:
      - ./config/nodered:/data
    networks:
      - mqtt_net
    depends_on:
      - hivemq
    deploy:
      replicas: 1

  hazelcast-node:
    image: hazelcast/hazelcast:5.3
    environment:
      - HZ_CLUSTERNAME=dev
      - HAZELCAST_CONFIG=/opt/hazelcast/config/hazelcast.yaml
    networks:
      - hazelcast-net
    volumes:
      - ./config/hazelcast.yaml:/opt/hazelcast/config/hazelcast.yaml
    ports:
      - "5701:5701"
    deploy:
      replicas: 3
      placement:
        max_replicas_per_node: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure

  hazelcast-mancenter:
    image: hazelcast/management-center:5.3
    ports:
      - "8081:8080"
    environment:
      - MC_DEFAULT_CLUSTER=dev
      - MC_DEFAULT_CLUSTER_MEMBERS=hazelcast-node
      - MC_ADMIN_ENABLED=true
      - MC_ADMIN_USER=admin
      - MC_ADMIN_PASSWORD=Geheim42!
    networks:
      - hazelcast-net
      - default
    depends_on:
      - http-server
      - hazelcast-node
    deploy:
      replicas: 1


networks:
  mqtt_net:
    driver: overlay
  hazelcast-net:
    driver: overlay
  default:
    driver: overlay

volumes:
  nodered_data:
  hivemq_conf:
  hivemq_data:
  mqtt-explorer:
