version: '3.3'
services:
  gateway:
    build:
      context: ./iot-gateway
    container_name: iot-gateway
    environment:
      - HTTP_SERVER_HOST=http-server
    depends_on:
      - http-server

  http-server:
    build:
      context: ./http-server
    container_name: http-server
    ports:
      - "8080:8080"