version: '3.8'

services:
  http-server:
    image: registry.code.fbi.h-da.de/distributed-systems/praktika/lab-for-distributed-systems-2025-sose/moore/mo-4x-teama/http-server:latest
    ports:
      - "8080:8080"
    environment:
      - RPC_DATABASE_HOST=141.100.42.121
    networks:
      - iot_platform_net

  rpc-database:
    image: registry.code.fbi.h-da.de/distributed-systems/praktika/lab-for-distributed-systems-2025-sose/moore/mo-4x-teama/rpc-database:latest
    ports:
      - "50051:50051"
    networks:
      - iot_platform_net

  iot-gateway:
    image: registry.code.fbi.h-da.de/distributed-systems/praktika/lab-for-distributed-systems-2025-sose/moore/mo-4x-teama/iot-gateway:latest
    environment:
      - HTTP_SERVER_HOST=141.100.42.122
      - MQTT_BROKER_HOST=141.100.42.123
    networks:
      - iot_platform_net

  frontend:
    image: registry.code.fbi.h-da.de/distributed-systems/praktika/lab-for-distributed-systems-2025-sose/moore/mo-4x-teama/frontend:latest
    ports:
      - "80:80"
    networks:
      - iot_platform_net

  sensor:
    image: registry.code.fbi.h-da.de/distributed-systems/praktika/lab-for-distributed-systems-2025-sose/moore/mo-4x-teama/sensor:latest
    environment:
      - MQTT_BROKER_HOST=141.100.42.123
    networks:
      - iot_platform_net

  hivemq:
    image: hivemq/hivemq-ce
    container_name: hivemq
    ports:
      - "1883:1883"   # MQTT
    networks:
      - iot_platform_net
    volumes:
      - hivemq_conf:/opt/hivemq/conf
      - hivemq_data:/opt/hivemq/data

networks:
  iot_platform_net:
    external: true

volumes:
  hivemq_conf:
  hivemq_data: 